<footer id="footer">
  <ul class="b-footer__links-list">
    <li class="b-footer__list-item"><a href="{{ site.baseurl }}/contact_us" class="b-footer__link">Служба поддержки</a></li>
    <li class="b-footer__list-item"><a href="{{ site.baseurl }}/news" class="b-footer__link">Новости</a></li>
    <li class="b-footer__list-item"><a href="{{ site.baseurl }}/rules" class="b-footer__link">Правила</a></li>
    <li class="b-footer__list-item"><a href="{{ site.baseurl }}/v-play" class="b-footer__link">V-play</a></li>
    <li class="b-footer__list-item"><a href="{{ site.baseurl }}/faq" class="b-footer__link">FAQ</a></li>
    <li class="b-footer__list-item"><a href="{{ site.baseurl }}/about" class="b-footer__link">О клубе</a></li>
  </ul>
  <ul class="b-footer__payments">
    <li class="b-footer__payments-item"><span class="b-footer__payments-link b-footer__payments-link_visa-m"></span></li>
    <li class="b-footer__payments-item"><span class="b-footer__payments-link b-footer__payments-link_yamoney"></span></li>
    <li class="b-footer__payments-item"><span class="b-footer__payments-link b-footer__payments-link_liqpay"></span></li>
    <li class="b-footer__payments-item"><span class="b-footer__payments-link b-footer__payments-link_qiwi"></span></li>
    <li class="b-footer__payments-item"><span class="b-footer__payments-link b-footer__payments-link_sms"></span></li>
    <li class="b-footer__payments-item"><span class="b-footer__payments-link b-footer__payments-link_wm"></span></li>
  </ul>
</footer>
