<footer class="footer">

  <ul class="footer-nav">
    <li class="footer-nav__item"><a class="footer-nav__link" href="{{ site.baseurl }}/contact_us">Служба поддержки</a></li>
    <li class="footer-nav__item"><a class="footer-nav__link" href="{{ site.baseurl }}/news">Новости</a></li>
    <li class="footer-nav__item"><a class="footer-nav__link" href="{{ site.baseurl }}/rules">Правила</a></li>
    <li class="footer-nav__item"><a class="footer-nav__link" href="{{ site.baseurl }}/v-play">V-play</a></li>
    <li class="footer-nav__item"><a class="footer-nav__link" href="{{ site.baseurl }}/faq">FAQ</a></li>
    <li class="footer-nav__item"><a class="footer-nav__link" href="{{ site.baseurl }}/about">О клубе</a></li>
  </ul>

  <div class="payments">
    <span class="payments__item payments__item--visa"></span>
    <span class="payments__item payments__item--mastercard"></span>
    <span class="payments__item payments__item--yamoney"></span>
    <span class="payments__item payments__item--liqpay"></span>
    <span class="payments__item payments__item--qiwi"></span>
    <span class="payments__item payments__item--sms"></span>
  </div>

</footer>
