<header class="main-header">
    <a class="main-header__log" href="/"></a>
    <form id="content" action="/ajax/login" class="login-form" method="post">
        <div class="login-fields">
            <div class="login-form__title">Вход в личный кабинет</div>
            <span>
                <input type="text" name="login" class="login-fields__field" placeholder="Логин" required="">
            </span>
            <span>
                <input type="password" name="password" class="login-fields__field" placeholder="Пароль" required="">
            </span>
            <input type="submit" data-type="submit" class="btn btn--enter" value="Войти">

            <a href="{{ site.baseurl }}/forgot#forgot" class="login-fields__forget-link">Забыли пароль?</a>
        </div>
        <div class="login-soc">
            <div>Войти с помощью</div>
            <div class="login-soc__list globologin-box" data-globologin-cb="globoLoginCb">
                <ul>
                    <li class="login-soc__list-img login-soc__globologin-vk"
                        onclick="_gaq.push(['_trackEvent', 'sociallogin', 'VK', location.href]);"></li>
                    <li class="login-soc__list-img login-soc__globologin-ok"
                        onclick="_gaq.push(['_trackEvent', 'sociallogin', 'OK', location.href]);"></li>
                    <li class="login-soc__list-img login-soc__globologin-mr"
                        onclick="_gaq.push(['_trackEvent', 'sociallogin', 'MR', location.href]);"></li>
                    <li class="login-soc__list-img login-soc__globologin-fb"
                        onclick="_gaq.push(['_trackEvent', 'sociallogin', 'FB', location.href]);"></li>
                    <li class="login-soc__list-img login-soc__globologin-gg"
                        onclick="_gaq.push(['_trackEvent', 'sociallogin', 'GG', location.href]);"></li>
                    <li class="login-soc__list-img login-soc__globologin-ya"
                        onclick="_gaq.push(['_trackEvent', 'sociallogin', 'YA', location.href]);"></li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <button onclick="_gaq.push(['_trackEvent','morda','reg_yellow button']); location='/register#reg';"
                type="submit" class="main-header__button-reg-wrap">
            <span class="main-header__button-reg">Регистрация</span>
        </button>
    </form>

    <nav class="nav">
        <ul class="nav-list">
            <li class="nav-list__item">
                <a href="/slots" class="nav-list__link">Игровой зал</a>
            </li>
            <li class="nav-list__item">
                <a href="/lottery" class="nav-list__link"> <i class="b-nav__menu-label b-nav__menu-label_new"></i>Лотерея</a>
            </li>
            <li class="nav-list__item">
                <a href="/shop" class="nav-list__link">Магазин</a>
            </li>
            <li class="nav-list__item">
                <a data-counter="+0" href="/tournaments" class="nav-list__link"> Турниры</a>
            </li>
            <li class="nav-list__item">
                <a href="/vip" class="nav-list__link">
                    <i class="b-nav__menu-label b-nav__menu-label_new"></i>VIP БОНУСЫ
                </a>
            </li>
            <li class="nav-list__item">
                <a href="/contact_us" class="nav-list__link">Поддержка</a>
            </li>
        </ul>
    </nav>
</header>
