<header class="main-header">
  <div class="user-panel-wrapper">

    <div class="progress-box">
      <a href="/vip/" class="progress-box__percent-number">0<b class="b-user-panel__percent">%</b></a>
      <div class="progress-box__progress">
        <a href="/vip/" class="progress-box__progress-line polartimer" id="progress_line" data-progress="0.01" style="height: 108px;">
          <svg height="108" version="1.1" width="108" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative;">
            <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.0</desc>
            <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
            <path fill="#003d99" stroke="none" d="M54,54L54,108A54,54,0,1,0,53.966070801573686,107.9999893408276L54,54Z" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></path>
          </svg>
        </a>
        <a href="/vip/" class="progress-box__corona"></a>
      </div>
    </div>

    <div class="user-panel">
      <div class="user-panel-top">
        <span class="user-panel-top__name">
          <a href="/user/profile.php" class="user-panel-top__this-name">Igor</a>
            <b class="user-panel-top__status">Текущий статус: </b>
          <a href="/vip/" class="user-panel-top__status">Новичок</a>
        </span>
        <b class="user-panel-top__wrap-btn">
          <a href="/kassa/#landing" class="btn btn--user-panel">Касса</a>
        </b>
        <ul class="user-panel-top__menu">
          <li class="user-panel-top__menu-item">
            <a href="/user/profile.php" class="user-panel-top__menu-link" data-class="">
              <i class="user-panel-top__menu-icons user-panel-top__menu-profile"></i>Профиль
              <!--<div class="tooltip " id="tooltip1">Настройки Вашего профиля<span class="arr"></span></div>-->
            </a>
          </li>
          <li class="user-panel-top__menu-item">
            <a href="#" class="user-panel-top__menu-link" data-class="">
              <i class="user-panel-top__menu-icons user-panel-top__menu-help"></i>Помощь
              <!--<div class="tooltip " id="tooltip2">Наша тех.поддержка для Вас работает круглосуточно!<span class="arr"></span></div>-->
            </a>
          </li>
          <li class="user-panel-top__menu-item">
            <form action="/ajax/logout/">

              <button type="submit" class="user-panel-top__menu">
                <i class="b-user-panel__top-menu-icon b-user-panel__top-menu-icon_exit"></i>
                Выход
              </button>
            </form>
          </li>
        </ul>
      </div>
      <div class="user-panel-bottom"></div>
    </div>
  </div>
</header>