.btn {
  border: 1px solid;
  border-radius: 3px;
  display: inline-block;
  padding: 5px 10px;
  margin-top: 30px;
  width: auto;
  font-size: 18px;
  text-decoration: none;
  text-transform: none;
  text-shadow: 0 -1px 0 #006609;
  outline: 0;
}

.btn--md {
  background: #20a631;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#00b10d),color-stop(100%,#008110));
  background-image: -webkit-linear-gradient(#00b10d,#008110);
  background-image: -moz-linear-gradient(#00b10d,#008110);
  background-image: -o-linear-gradient(#00b10d,#008110);
  background-image: linear-gradient(#00b10d,#008110);
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF00B10D', endColorstr='#FF008110');
  border-color: #bfecc2 #17a61b #00a60e;

  &:hover {
    background: #00b00d;
    border-color: #ddfabf #007f04 #007f04;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#73e600),color-stop(100%,#039604));
    background-image: -webkit-linear-gradient(#73e600,#039604);
    background-image: -moz-linear-gradient(#73e600,#039604);
    background-image: -o-linear-gradient(#73e600,#039604);
    background-image: linear-gradient(#73e600,#039604);
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF73E600', endColorstr='#FF039604');
  }

  &:active {
    background: #007e0d;
    filter: none;
    border-color: transparent;
    box-shadow: 0 0 10px rgba(0,0,0,.4) inset;
  }
}

.btn--show-all {
  background: #3a8d00;
  background: linear-gradient(to bottom,#bfe700 0,#3a8d00 100%);
  border: 1px solid #397100;
  border-radius: 10px;
  box-shadow: 0 1px 0 0 #fff inset,0 5px 3px 0 #02102d;
  box-sizing: border-box;
  float: left;
  padding-top: 10px;
  padding-left: 20px;
  margin-top: 70px;
  margin-left: 12px;
  position: relative;
  width: 190px;
  height: 70px;
  line-height: 25px;
  font-size: 22px;
  font-weight: 700;
  color: #222e00;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #b7e200;

  &:before,
  &:after {
    content: '';
    position: absolute;
  }

  &:before {
    border-style: outset;
    border-width: 5px 0 5px 7px;
    border-color: transparent transparent transparent #afd500;
    margin-top: -5px;
    right: 18px;
    top: 50%;
    width: 0;
    height: 0;
    z-index: 1;

    -webkit-transform: rotate(360deg);
  }

  &:after {
    background: #222e00;
    box-shadow: 0 1px 0 0 #b7e200;
    border-radius: 50%;
    margin-top: -11px;
    right: 12px;
    top: 50%;
    width: 22px;
    height: 22px;
    z-index: 0;
  }

  &:hover {
    background: #4FBA04;
    background: linear-gradient(to bottom,#dff700 0,#4bb100 100%);
    color: #222e00;

    &:before {
      border-color: transparent transparent transparent #ef0;
    }
  }
}