body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #01133b;
  color: #fff;
}

a {
  color: #fff;

  &:hover {
    color: #fff;
  }
}

#main-wrapper {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
}

.content {
  padding-bottom: 142px;
}


