.footer {
  width: 840px;
  padding: 40px;
  text-align: center;
  background-image: linear-gradient(#011842, #012257);
  box-shadow: 0 8px 16px 5px #0015B4;
  border: 1px solid #0033F7;
  border-top: 1px solid #172e5a;
  margin: 0 auto;
  position: relative;
}

.footer-nav {
  margin: 0 0 20px;
  list-style: none;
  padding: 0;

  &__item {
    display: inline-block;
    padding-right: 16px;
    margin-right: 10px;
    border-right: 1px solid $colorInitial;

    &:last-child {
      border: none;
      padding: 0;
      margin: 0;
    }

    &__link {
      color: $colorInitial;
      text-decoration: none;
    }
  }
}

.payments {
  &__item {
    display: inline-block;
    background: url(/assets/img/sprite_png.png) no-repeat;
    height: 26px;
    margin: 0 11px;

    &--visa {
      background-position: 0 -555px;
      width: 50px;
    }

    &--mastercard {
      background-position: -71px -555px;
      width: 41px;
    }

    &--yamoney {
      background-position: -132px -555px;
      width: 26px;
    }

    &--liqpay {
      background-position: -182px -555px;
      width: 24px;
    }

    &--qiwi {
      background-position: -224px -555px;
      width: 38px;
    }

    &--sms {
      background-position: -275px -555px;
      width: 38px;
    }
  }
}
