.game-list {
  @include clearfix;
}

.game-item {
  float: left;
  padding-top: 40px;
  margin-bottom: 40px;
  position: relative;
  width: 25%;
  text-align: center;

  &:hover {
    .game-item__thumb-overlay {
      display: block;
    }
  }
}

.game-item__thumb {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 172px;
  height: 93px;
}

.game-item__thumb-border {
  background: url(/assets/img/header/header_sprite_png.png?v=4) -10px -268px no-repeat;
  display: block;
  position: absolute;
  top: -48px;
  left: -17px;
  width: 214px;
  height: 154px;
  z-index: 10;
}

.game-hint {
  background: url(/assets/img/game-hint.png) no-repeat center bottom;
  display: block;
  width: 100%;
  height: 45px;
}

.game-item__thumb-overlay {
  border-radius: 50%;
  box-shadow: inset 0 0 125px 0 #000;
  display: none;
  position: absolute;
  top: 0;
  right: -3px;
  bottom: 0;
  left: 3px;
  z-index: 20;
}

.game-item__title {
  @include elipsis;
}


