
.hero {
  left: -80px;
  width: 1000px;
  height: 270px;
  position: relative;
  margin-bottom: 160px;
  box-shadow: 0 41px 75px 6px #0012E3;
}

.hero-info {
  width: 940px;
  height: 231px;
  position: absolute;
  z-index: 2;
  padding: 20px 30px;
  background: url(/assets/img/header/top_info_bg_all.jpg) no-repeat #00133a;

  &__btn {
    display: block;
    margin: 210px auto 0;
    width: 316px;
    height: 81px;
    border-radius: 15px;
    background: url(/assets/img/header/header_sprite.png) 0 -652px no-repeat;
  }
}

.head-gallery-wrap {
  position: relative;
  width: 925px;
  margin: 0 auto;
}

.head-gallery-gal {
  overflow: hidden;
  padding: 0 12px;
  background: #001A52;
  height: 20px;
  box-shadow: inset 0 0 37px -6px #03AED5;
}

.hero-wins {
  float: left;
  width: 251px;
  .hero-wins__container {
    box-shadow: 0 0 12px 5px #005ae5;
    cursor: pointer;
  }
}

.hero-wins__title {
  font-size: 16px;
  color: #fff;
  display: block;
  margin-bottom: 17px;
  text-align: center;
  margin-top: 6px;
}

.hero-game {
  float: left;
  width: 338px;
  margin-left: 50px;
  text-align: center;
  background: url(/assets/img/header/game_top.jpg) no-repeat;
  height: 146px;
  padding-top: 54px;
}

.hero-service {
  float: left;
  width: 250px;
  margin-left: 50px;
  .hero-service__img-siteheart {
    box-shadow: 0 0 12px 5px #005ae5;
    cursor: pointer;
  }
}

