.home-prefooter {
  position: relative;
  padding-top: 30px;

  &:before { 
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    right: -40px;
    border-top: 1px solid #0F1D40;
    border-bottom: 1px solid #072565;
  }

  h1 {
    color: $colorPrimary;
    font-size: 20px;
    line-height: 1.35em;
    margin: 0 0 20px;
    font-weight: 400;
  }

  h2 {
    color: $colorSecondary;
    font-size: 16px;
    font-weight: 400;
  }

  p {

  }

  a {
    color: $colorSecondary;
  }

  ul {
    margin: 20px 0 20px 17px;

    li {
      padding: 0;
      list-style: disc inside;
      margin: 3px 0;
    }
  }
}
