.home-prefooter {
  h1 {
    color: $colorPrimary;
    font-size: 20px;
    line-height: 1.35em;
    margin-bottom: 20px;
    font-weight: 400;
  }
  p {

  }
  a {
    color: $colorSecondary;
  }
  ul {
    li {
      
    }
  }
}
