<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Vu2</title>
  <meta name="description" content="Vu2">
  <meta name="keywords" content="Vu2">

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicons/favicon-32.png">
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/img/favicons/favicon-144.png">
</head>
<body>

  {% include header.html %}

  <h1>Body</h1>

  {{ content }}

  <script src="{{ site.baseurl }}/assets/js/vendor/jquery-1.11.3.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/main.js"></script>
</body>
</html>
