<div class="game-item">
  <div class="game-item__thumb">
    <span class="game-item__thumb-border">
      <span class="game-hint"></span>
    </span>
    <img class="js-lazy" data-original="{{ site.baseurl }}/assets/img/games/{{ games.slug }}.png" alt="{{ games.title }}">
    <div class="game-item__thumb-overlay">
      <a class="btn" href="{{ site.baseurl }}/{{ games.permalink }}">Играть</a>
    </div>
  </div>
  <a class="game-item__title" href="{{ site.baseurl }}/{{ games.permalink }}">{{ games.title }}</a>
</div>