<div class="game-search">
  <a href="/slots#slots" class="game-search__logo"></a>
  <input class="game-search__input" placeholder="Найди любимую игру">
</div>

<h2 class="games-wrap__title">Самые популярные автоматы «Novomatic Gaminator»</h2>

<div class="game-list">
  {% for games in site.categories.games limit:8 %}
    {% include home/game-item-auth.html %}
  {% endfor %}
</div>

<h2 class="games-wrap__title">Настоящие гаминаторы</h2>

<div class="game-list">
  {% for games in site.categories.games limit:15 %}
    {% include home/game-item.html %}
  {% endfor %}
  <a class="btn--show-all" href="#">Показать все игры</a>
</div>

