<div class="game-search">
  <a href="/slots#slots" class="game-search__logo"></a>
  <span class="game-search__helper" role="status" aria-live="polite"></span>
  <input id="game_search" class="game-search__input" name="game_search" placeholder="Найди любимую игру" autocomplete="off">
  <input id="project-id" type="hidden">
  <p class="game-search__desc"></p>
</div>

<h2 class="games-wrap__title">Самые популярные автоматы «Novomatic Gaminator»</h2>

<div class="game-list">
  {% for games in site.categories.games limit:8 %}
    {% include home/game-item-auth.html %}
  {% endfor %}
</div>

<h2 class="games-wrap__title">Настоящие гаминаторы</h2>

<div class="game-list">
  {% for games in site.categories.games limit:15 %}
    {% include home/game-item.html %}
  {% endfor %}
  <a class="btn--show-all" href="#">Показать все игры</a>
</div>

