
    <div class="head-gallery-wrap">
        <div class="head-gallery-gal"></div>
    </div>

    <!--Hero-->
    <div class="hero">
        <div class="top-info">
            <div id="top-games" class="top-info-wins">
                <h5 class="top-info-header">Сейчас выигрывают</h5>

                <div class="top-info-lighter">
                    <div class="b-wins-list"
                         style="visibility: visible; overflow: hidden; position: relative; z-index: 2; left: 0; height: 150px;"></div>
                </div>
            </div>
            <div class="top-info-game">
                <div id="b-top-info__game-ra"></div>
            </div>
            <div class="hero-service">
                <h5 class="top-info-header">Круглосуточный сервис</h5>
                <img src="/assets/img/header/service.jpg?v=5b76d" alt="" class="img-siteheart"
                     width="250" height="157">
            </div>
            <div class="clearfix"></div>
            <a class="icon-play-button b-top-info__play-but" href="/register#reg"></a>
        </div>
    </div>
